* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 960px;
  margin: 50px auto;
}
.sidebar-text {
  margin-bottom: 50px;
}
.text-contents {
  padding: 20px;
}
.text-contents:nth-child(odd) {
  background-color: #eee;
}
.sidebar-box {
  display: flex;
  flex-wrap: wrap;
}
.box-contents {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}
.box-contents:first-child,
.box-contents:nth-child(5),
.box-contents:last-child {
  background-color: #ff8c00;
}
.box-contents:nth-child(3n) {
  margin-right: 0;
}
.box-contents:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
